html{
    height: 100vh;
}
header{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 0;
    background: beige;
    border-bottom: 2px solid black;
    overflow:auto; zoom: 1;
}
#nav{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Times New Roman";
    line-height: 2;
    padding: 0 1% 0 1%;
    border-right: 2px solid black;
}
#nav li a{
    flex: 1;
}
#nav li:last-child{
    border-right-style: none;
}
#listTitle{
    flex: auto;
    font-size: 18pt;
}
.selection{
    font-size: 13pt;
}
.selection:hover{
    cursor: pointer;
    background-color: hsla(0, 0%, 75%, 1);
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background: white;
    overflow: hidden;
}
#fields{
    height: 100vh;
    width: 900px;
    margin: 0 auto;
    padding: 1% 30px 0 30px;
    background: tan;
}
#author{
    padding: 10px 0 5px 0;
    margin: 0;
}
#page{
    padding: 5px 0 10px 0;
    margin: 0;
}
#info{
    text-align: right;
    padding: 0 70% 0 0;
    background: hsla(0, 0%, 65%, 0.5);
}
.optionLabel{
    display: inline-block;
}
.user{
    box-sizing: border-box;
    width: 100%;
    font-family: "Times New Roman";
    font-size: 12pt;
    line-height: 2;
    margin: 0 auto;
    min-width: 50%;
    max-width: 100%;
    min-height: 100px;
    max-height: 40vh;
}
#copyBtn{
    height: 40px;
    width: 80px;
}
#popup{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
}
#menuContainer{
    margin: 7vh auto;
    background: white;
    border: 1px solid black;
}
#menu{
    margin: auto;
    list-style: none;
    padding: 10px 10px 10px 10px;
}
.optionContainer{
    font-family: "Courier New";
    font-size: 20pt;
    line-height: 2;
}
.option{
    display: flex;
    flex-direction: row;
}
.optionTag{
    flex: 1;
    text-align: right;
    padding-right: 20px;
}
.selectionContainer{
    flex: 1;
    text-align: center;
}
.optionSelection{
    font-family: "Courier New";
    font-size: 16pt;
    line-height: 2;
}
.hidden{
    opacity: 0;
    visibility: hidden;
}
.shown{
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 0.35s linear;
    -moz-transition: visibility 0s, opacity 0.35s linear;
}
.noSelect{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}